
<form class="form-signin" #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.value)" >
  
  <h2 class="form-signin-heading">Sign In</h2>
  
  <div *ngIf="invalidLogin" 
        class="alert alert-danger">
        Invalid username and/or password.
  </div>
  <label for="loginid" 
         class="sr-only">
  </label>
  
  <input ngModel name="loginid" 
         type="text" 
         id="loginid" 
         class="form-control" 
         placeholder="Userid required" required>

  <label for="inputpassword" 
         class="sr-only">Password</label>

  <input ngModel type="password" 
         name="password" 
         id="inputPassword" 
         class="form-control" 
         placeholder="Password required" required>         

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
</form>
