/* You can add global styles to this file, and also import other style files */


$ag-icons-path: "~ag-grid-community/src/styles/ag-theme-material/icons/";
$odd-row-background-color: #f32c1a;


@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material.scss";


@import "~bootstrap/dist/css/bootstrap.min.css";


.align-right {
    text-align: right;
  }

.ag-header-cell-label {
    /*Necessary to allow for text to grow vertically*/
    height: 100%;
    padding:0 !important;
    font-size: 15px;
    color: black;
    font-weight: bold;
    
}

.ag-row-editing {
    background-color: #c2de5b !important;
  }
body 
   { 
       padding: 20px; 
   }

  