


  <div  layout-margin style="display: inline-flex; justify-content: space-around; width: 600px;  border-color: rgb(133, 80, 255); border-style: solid;">
    
    <button mat-raised-button color="primary"  (click)="onAddRow()">Add Employee</button>
    <button mat-raised-button color="accent"   (click)="onUpdateItemRow()">Update Employee</button>
    <button mat-raised-button color="warn"     (click)="onRemoveSelected()">Delete employee</button>
  </div>




<mat-card-content class="the-container" style="height: 100%; box-sizing: border-box; padding-top: 42px;">
  <div class="the-header">Selection: <span id="selectedRows"></span></div>

 
    <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-material" [columnDefs]="columnDefs"
      [components]="components" [rowData]="rowData" [editType]="editType" [enterMovesDownAfterEdit]="true"
      [enterMovesDown]="true" [defaultColDef]="defaultColDef" [animateRows]="true" [rowHeight]="rowHeight"
      [rowSelection]="rowSelection" [frameworkComponents]="frameworkComponents" suppressHorizontalScroll
      (rowEditingStarted)="onRowEditingStarted($event)" (selectionChanged)="onSelectionChanged()" (rowValueChanged)="onRowValueChanged($event)"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</mat-card-content>
<pre>{{rowDataUpdate | json}} </pre>


<!--
    <button style="font-size: 12px" (click)="onBtStartEditing()">Start Editing Line 2</button>
    <button style="font-size: 12px" (click)="onBtStopEditing()">Stop Editing</button>
    -->