
.ag-row-editing {
    background-color: #5bc0de !important;
  }
  .ag-header-cell-label {
    /*Necessary to allow for text to grow vertically*/
    height: 100%;
    padding:0 !important;
    font-size: 15px;
    color: red;
}

  .ag-header-cell-label {
    /*Necessary to allow for text to grow vertically*/
    height: 100%;
    padding:0 !important;
    font-size: 10px;
    color: red;
}


.the-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.the-header {
  padding: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: blue;
}

.mat-button-row button
{
 
    margin: 13px;
    
}